@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background: #1c272d;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("/img/gig.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  text-align: center;
}

.container div {
  padding: 20px;
}

.top {
  height: 75vh;
  background: rgba(40, 40, 41, 0.9);
}

.top h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #eceeff;
  text-transform: uppercase;
  padding-top: 50px;
  opacity: 0.8;
  font-size: 70px;
}

.top p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #52877b;
  text-transform: uppercase;
  letter-spacing: 1em;
  margin-top: -25px;
  margin-bottom: 20px;
  line-height: 1.5em;
}

.social-icons {
  margin-top: 20px;
  color: #52877b;
  text-align: center;
  list-style-type: none;
  display: inline;
  text-align: center;
}

.social-icons--item {
  margin: 5px 10px 5px 10px;
}

.social-icons--item:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.middle {
  background: #52877b;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
          clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
  position: absolute;
  top: 80vh;
  width: 100%;
  height: 10vh;
  border-top: 5px solid rgba(236, 238, 255, 0.9);
}

.middle h2 {
  color: #eceeff;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 19px;
}

.middle a {
  color: #52877b;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 5px 20px;
  text-decoration: none;
  background: #1c272d;
  border-radius: 5%;
}

.middle a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.section {
  color: #eceeff;
  background: #1c272d;
}

.section .first-item {
  margin-top: 110px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 1.5em;
  width: 70%;
  opacity: 0.8;
}

.section p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 1.5em;
  width: 70%;
  opacity: 0.8;
  margin-bottom: 1.5em;
}

.merch-section {
  margin-top: -28px;
}

.divider {
  background: #52877b;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
          clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
  width: 100%;
  height: 10vh;
  border-top: 5px solid rgba(236, 238, 255, 0.9);
}

.divider h1 {
  font-size: 35px;
  margin-top: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #eceeff;
}

.merch-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 70%;
}

.merch-grid-col {
  background: #52877b;
  margin-right: 20px;
  border: 5px solid #eceeff;
  border-radius: 3%;
  text-align: center;
}

.merch-grid-col p {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #1c272d;
  font-size: 20px;
  text-decoration: none;
}

.merch-grid a {
  text-decoration: none;
}

.merch-grid-col:hover {
  -webkit-animation: rotate-center 1s ease-in-out both;
  animation: rotate-center 1s ease-in-out both;
  cursor: pointer;
}

.digital-outlets {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 80%;
  color: #52877b;
  margin: 20px;
  letter-spacing: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.merch-img {
  width: 100%;
  border: 5px solid #eceeff;
}

.footer {
  color: #1c272d;
  background: #52877b;
}

.footer p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  border-top: 5px solid #eceeff;
  text-align: left;
}

#music-player {
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  background: #52877b;
  margin-right: 10px;
  border-top: 5px solid #1c272d;
  border-radius: 5%;
  text-align: right;
  width: 250px;
}

#close-button,
#show-player {
  text-align: center;
  color: #1c272d;
  margin-right: 5px;
  margin-bottom: 2px;
  padding: 2px;
  background: #52877b;
  border: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

#close-button:hover,
#show-player:hover {
  opacity: 0.8;
  cursor: pointer;
}

#show-music-player:hover {
  opacity: 0.9;
  cursor: pointer;
}

#show-music-player {
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  background: #52877b;
  margin-right: 10px;
  border-top: 5px solid #eceeff;
  border-radius: 5%;
  padding: 10px;
  text-align: right;
  display: none;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-12 11:0:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 650px) {
  body {
    background: #1c272d;
    position: absolute;
    width: 100%;
  }
  .container {
    background-size: cover;
  }
  .container div {
    padding: 20px;
  }
  .top {
    height: 60vh;
    background: rgba(40, 40, 41, 0.9);
  }
  .top h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: #eceeff;
    padding-top: 0px;
    font-size: 50px;
  }
  .top p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  .social-icons {
    font-size: 14px;
  }
  .middle {
    top: 60vh;
    margin-left: -20px;
  }
  .middle h2 {
    font-size: 16px;
  }
  .middle a {
    font-size: 16px;
  }
  .section .first-item {
    margin-top: 55px;
    width: 100%;
  }
  .section p {
    width: 100%;
  }
  .merch-section {
    margin-top: -28px;
  }
  .divider {
    margin-left: -20px;
  }
  .merch-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
  }
  .merch-grid-col {
    border: 0px;
    background: #1c272d;
    margin-left: -20px;
    margin-bottom: 20px;
  }
  .merch-grid-col p {
    text-align: center;
    color: #52877b;
  }
  .digital-outlets {
    display: none;
  }
  .merch-img {
    width: 100%;
    border: 5px solid #eceeff;
  }
  .footer p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
    border-top: 5px solid #eceeff;
    text-align: center;
  }
  #music-player {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */